.gameInfo {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin: 30px 0 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 10px auto;
  overflow-y: auto;
  border: 1px solid black;
  border-top: 4px solid black;
  border-radius: 20px;
  padding: 20px 10px 10px 10px;
  gap: 12px;
}

.options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.options div {
  display: flex;
  gap: 6px;
  border: 1px solid black;
  padding: 10px 20px;
  width: 380px;
  background-color: black;
  color: #fff;
  opacity: 1;
}

.options div p {
  font-size: 0.8rem;
}

.options div:hover {
  opacity: 0.8;
}

input[type="submit"] {
  width: 250px;
  margin: 20px auto 10px auto;
  padding: 8px 0;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  border: none;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: blue;
}

@media (max-width: 450px) {
  h3 {
    font-size: 1.3rem;
  }

  .gameInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 70px 0 10px 0;
  }

  form {
    margin: 20px auto;
  }

  .options div p {
    font-size: 1rem;
  }

  .options div {
    display: flex;
    gap: 6px;
    border: 1px solid black;
    padding: 10px 20px;
    width: 360px;
    background-color: black;
    color: #fff;
    opacity: 1;
  }
}