Main {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 70px 10px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

table {
  margin: 10px 0;
  padding: 0;
  border-collapse: collapse;
}

table tr th,
table tr td {
  border: 1px solid black;
  padding: 6px 9px;
  text-align: center;
}

.pages {
  margin: 15px 0 0 0;
  margin-top: 15px;
  display: flex;
  gap: 6px;
}

.pages a {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 0.8rem;
}

.pages a:hover,
.addQ_btn:hover {
  box-shadow: 0px 0px 2px blue;
}

dialog {
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

#form textarea#kysymys {
  width: 300px;
  height: 45px;
}

#form textarea {
  width: 300px;
  height: 37px;
}

#form button,
.edit .closeEditF {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.7rem;
  background-color: red;
  color: #fff;
  border: none;
  padding: 2px;
}

#form .textContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

#form .inputContainer {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

#form input[type="text"] {
  width: 60px;
  height: 30px;
  padding-left: 3px;
}

#form input[type="submit"] {
  margin-top: 10px;
  width: 150px;
  background-color: black;
  color: #fff;
  padding: 6px;
}

.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.edit input#kysymys,
.edit input#option_a,
.edit input#option_b,
.edit input#option_c,
.edit input#option_d {
  width: 350px;
  padding: 10px 0 10px 10px;
}

.edit .inputContainer {
  width: 100%;
}

.inputContainer label {
  margin-right: 5px;
}

.edit input#answer {
  width: 50px;
  padding: 10px 0 10px 10px;
}

.edit input[type="submit"] {
  width: 150px;
  background-color: green;
  color: #fff;
  padding: 7px 0;
  border-radius: 3px;
  margin-top: 10px;
  border: none;
}

.deleteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px;
  gap: 30px;
  border-radius: 15px;
}

.deleteForm button {
  width: 120px;
  padding: 8px 0;
  border: none;
  border-radius: 3px;
}

.deleteForm .delete {
  background-color: red;
  color: #fff;
}

.deleteForm .closeDeleteF {
  background-color: green;
  color: #fff;
}

.subject {
  margin: 10px 0;
}

.top {
  display: flex;
  align-items: center;
  gap: 11rem;
  margin-top: 15px;
}

.top button {
  padding: 4px 10px;
}

.message {
  color: green;
}

.questions {
  font-size: 0.84rem;
  margin-top: 15px;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 12px;
}

.question .upper {
  display: flex;
  gap: 3px;
  align-items: center;
}

.upper button {
  background: transparent;
  font-size: 0.7rem;
  margin-right: 4px;
  border: none;
}

@media (max-width: 750px) {
  Main {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 30px;
  }

  .right {
    width: fit-content;
    align-items: center;
    margin-top: 0;
  }
}