 form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   height: 235px;
   margin: 80px auto 20px auto;
   overflow-y: hidden;
   border: 1px solid black;
   border-top: 4px solid black;
   border-radius: 20px;
   padding: 20px;
   gap: 15px;
 }

 form .user {
   border: 1px solid black;
   padding: 6px 20px;
 }

 form input {
   width: 230px;
   padding: 6px 0;
   background-color: #252525;
   color: #fff;
   margin-top: 15px;
 }

 form .message {
   font-size: 0.8rem;
   color: green;
 }

 @media (max-width: 480px) {
   Main {
     margin: 120px auto 0 auto;
   }

   .desktop {
     display: none;
   }

   Header {
     display: flex;
     justify-content: space-between;
     padding: 10px;
     height: 50px;
     width: 100%;
     z-index: 1000;
     background-color: black;
     color: #fff;
   }

   #auth:popover-open {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 5px;
     text-align: center;
     top: 52px;
     padding: 5px 0;
   }

   #auth a {
     text-decoration: none;
     width: 100%;
     color: black;
   }

   Header button {

     color: #252525;
     padding: 0 3px;
   }
 }

 @media (min-width: 481px) {
   .mobile {
     display: none;
   }
 }