 form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   height: 235px;
   margin: 80px auto 20px auto;
   overflow-y: hidden;
   border: 1px solid black;
   border-top: 4px solid black;
   border-radius: 20px;
   padding: 20px;
   gap: 15px;
 }

 form .user {
   border: 1px solid black;
   padding: 6px 20px;
 }

 form input {
   width: 230px;
   padding: 6px 0;
   background-color: #252525;
   color: #fff;
   margin-top: 15px;
 }

 form .message {
   font-size: 0.8rem;
   color: green;
 }

 @media (max-width: 450px) {
   form {
     margin: 130px auto;
   }
 }