form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 50px auto;
  overflow-y: auto;
  border: 1px solid black;
  border-top: 4px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  gap: 12px;
}

form select {
  width: 300px;
  height: 35px;
}

.adjustLength {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.adjustLength div {
  display: flex;
  gap: 3px;
  margin-left: 55px;
}

input[type="submit"] {
  width: 250px;
  margin-top: 20px;
  padding: 8px 0;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  border: none;
}

@media (max-width: 480px) {
  form {
    margin: 90px auto;
  }

  .desktop {
    display: none;
  }

  Header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    width: 100%;
    z-index: 1000;
    background-color: black;
    color: #fff;
  }


  Header button {

    color: #252525;
    padding: 0 3px;
  }

}

@media (min-width: 481px) {
  .mobile {
    display: none;
  }
}